@import url("https://fonts.cdnfonts.com/css/noto-sans");

$color_prime: #f3f4f4;
$color_second: #4b79a1;
$color_dark: #171a20;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: gotham, Arial, sans-serif;
}

@font-face {
  font-family: gotham;
  src: url(../assets/1744-font.otf);
}

@mixin backgroundGradient($alpha) {
  background: -webkit-linear-gradient(
    to right,
    rgba($color_dark, $alpha),
    rgba($color_second, $alpha)
  );
  background: linear-gradient(
    to right,
    rgba($color_dark, $alpha),
    rgba($color_second, $alpha)
  );
}

.allunset {
  all: unset !important;
}
.shadowAround {
  box-shadow: inset 0px 0px 30px 30px rgba(black, 0.9);
}
.shadowFromTop {
  background: linear-gradient(180deg, $color_dark -30%, transparent 100%);
}
.shadowFromBottom {
  background: linear-gradient(0deg, $color_dark 0%, transparent 100%);
}
.fakeBorderDark {
  box-shadow: 0 0 0 2px $color_dark inset;
  -webkit-box-shadow: 0 0 0 2px $color_dark inset;
  -moz-box-shadow: 0 0 0 2px $color_dark inset;
}
.fakeBorderLight {
  box-shadow: 0 0 0 2px $color_prime inset;
  -webkit-box-shadow: 0 0 0 2px $color_prime inset;
  -moz-box-shadow: 0 0 0 2px $color_prime inset;
}
.fadeIn {
  transition: opacity 0.5s ease;
}

.fadeIn.hidden {
  opacity: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.displayTrans {
  transition: visibility 1s, opacity 0.2s linear;
}
.checkWrapp {
  .checkMark {
    &::before {
      content: " ";
      transition: all 0.2s;
      position: absolute;
      display: block;
      scale: 0;
      top: 9px;
      left: 4px;
      width: 13px;
      height: 2px;
      background-color: $color_prime;
      transform: rotate(-45deg);
    }

    &::after {
      content: " ";
      transition: all 0.2s;
      position: absolute;
      display: block;
      scale: 0;
      top: 10px;
      left: 4px;
      width: 2px;
      height: 4px;
      background-color: $color_prime;
      transform: rotate(-30deg);
    }
  }

  input {
    &:checked {
      ~ .checkMark {
        &::after,
        &::before {
          scale: 1;
        }
      }
    }
  }
}
